* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* immagini di sfondo */
.picture {
  position: relative;
  height: 100vh;
  width: 100% - 20px;
  background-size: cover;
  margin: 10px;
  box-shadow: 5px 5px black;
}
#amsterdam {
  background-image: url(../../img/amsterdam.jpg);
}
#budapest {
  background-image: url(../../img/budapest.jpg);
}
#lisbona {
  background-image: url(../../img/lisbona.jpg);
}
/* /immagini di sfondo */
/* layover */
.layover {
  position: absolute;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* /layover */
/* nomi città */
p{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 50px;
  text-shadow: 4px 4px black;
}
/* /nomi città */
